* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --DARK-GRAYISH-BLUE: hsl(210, 10%, 33%);
  --GRAYISH-BLUE: hsl(201, 11%, 66%);
  --STRONG-CYAN: hsl(171, 66%, 44%);
  --LIGHT-BLUE:hsl(233, 100%, 69%);

}
body {
  background:url("./images/bg-header-mobile.png");
  font-family: "Bai Jamjuree", sans-serif;
  color: var(--DARK-GRAYISH-BLUE);
  background-repeat: no-repeat;
}

.hero {
  margin-top: 4rem;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  margin: 2rem 0rem 1rem 0rem;
}

p {
  opacity: .7;
}

.hero p, .platforms p{
  margin: 1rem 0rem 2rem 0rem;
}

.flex-row {
  display: flex;
  gap: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  padding: 2rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.btn {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  /* border: rgb(31, 163, 124); */
  /* border-bottom-style: inset; */
  padding: .8rem 5rem;
  border-radius: 2rem;
  box-shadow: -2px 6px 19px -5px rgba(105,104,105,1);
}

.btn.primary {
  background-color: var(--STRONG-CYAN);
  margin-bottom: 1rem;
  border: hsl(171, 61%, 25%);
  border-bottom-style: inset;
}

.btn.secondary {
  background-color: var(--LIGHT-BLUE);
  border: hsl(233, 48%, 49%);
  border-bottom-style: inset;
}

.btn:hover {
  opacity: .7;
  cursor: pointer;
}

/* #2 and #3: Snippets and acces sections */

.snippets2 .flex-row {
  display: flex;
  flex-direction: column;
}

.snippets1 p, .access p {
  margin: 1rem 0rem 2rem 0rem;
  text-align: center;
}

.devices {
  width: 300px;
  height: 190px;
}

/* #4: Tools section */

.tools h2 {
margin: 2.5rem 0rem 1.5rem 0rem;
}

.tools p {
  margin-bottom: 4rem;
}

.tools .blacklist-icon, footer img {
  width: 50px;
  height: 50px;
}

.eye-icon {
  width: 50px;
  height: 32px;
}

.flex-col-spaced {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-bottom: 3rem;
}

.flex-col-spaced2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}

.platforms {
  margin-bottom: 7rem;
}

/* #7: Footer */

footer {
  padding-top: 3rem;
  background-color: rgb(241, 241, 241);
}

i {
  width: 30px;
}

a {
 text-decoration: none; 
 color: var(--DARK-GRAYISH-BLUE);
}

a:hover, i:hover {
  color: var(--STRONG-CYAN);
}

/* Desktop version styles */

@media only screen and (min-width: 399px) {
  body {
    background: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
  }

  .hero div, .platforms {
    display: flex;
    gap: 15px;
  }

  .btn.primary, .btn.secondary {
    margin-bottom: 0;
    padding: .7rem 2rem;
  }
  .hero, .snippets1, .access, .platforms {
    max-width: 750px;
    margin: auto;
    text-align: center;
  }

  .snippets2 {
    max-width: 1100px;
    padding-top: 0;
  }

  .snippets2 .flex-row {
    display: flex;
    flex-direction: row;
  }
  .snippets2 .flex-row .flex-column {
    align-items: flex-start;
  }

  .snippets2 .flex-row .flex-column p {
    text-align: left;
  }

  .snippets2 img {
    width: 650px;
    height: 380px;
    position: relative;
    left: -80px;
  }

  .access img {
    width: 600px;
    height: 400px;
  }

  .tools.flex-column, .brands {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-evenly;
    max-width: 900px;
    margin: auto;
  }

  .tools.flex-column {
    padding-top: 0;
  }

  .brands.flex-col-spaced2 img {
    width: 100px;
  }

  .platforms {
    padding-bottom: 8rem;
  }

  footer.flex-col-spaced {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 900px;
  }
  .flex-col-spaced {
    padding-bottom: 0;
  }
}


